@import './../../styles/colors.scss';

.wrapper {
  margin: 0 200px;
  position: relative;
}

.title {
  position: relative;
}

.recipeTitle {
  font-family: 'Caveat', cursive;
  color: $light-red;
  font-size: 50px;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  margin: 0;
}

.ingredients {
  font-size: 16px;
  margin: 20px 0;
  text-align: left;
}

.bg {
  margin: 50px 0;
  width: 200px;
  float: left;
  border-radius: 5px;
}

.description {
  padding: 10px;
  font-size: 14px;
  text-align: justify;
  margin-bottom: 20px;
  height: 200px;
}

.mainContent {
  margin-bottom: 200px;
}

.categories {
  width: 35%;
  float: left;

  @media only screen and (max-width: 1024px) {
    width: 40%;
  }
}

.mainInfo {
  width: 60%;
  overflow: hidden;
  float: right;
  padding: 0 20px;
  background-color: $white;
  border-radius: 0px 20px 0px 0px;

  @media only screen and (max-width: 1024px) {
    width: 55%;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    margin: 0 100px;
  }
}

.recipeWrapper {
  border-radius: 5px;
  position: relative;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

  a {
    display: block;
    margin: 0;
  }
}

.remove {
  position: absolute;
  z-index: 1;
  right: 0;
}

.edit {
  position: absolute;
  z-index: 1;
  left: 0;
}

a {
  text-decoration: none;

  color: inherit;
}

.remove {
  position: absolute;
  z-index: 1;
  right: 0;
}

.edit {
  margin: 0;
}

.backIcon {
  position: absolute;
  margin: 0 10px;
  float: left;
  width: 40px;
  height: 40px;
  transform: rotateX(180deg);
  cursor: pointer;
}

.editIcon {
  margin: 12px 10px;
  float: right;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.removeIcon {
  margin: 10px;
  float: right;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
