@import '../../../styles/colors.scss';

.recipeTitle {
  font-family: 'DM Sans', sans-serif;
  color: #27282a;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.1;
  font-style: normal;
  text-decoration: none;
  margin: 1rem 0;
  padding: 0 10px;
}

.titlePlaceholder {
  width: 50%;
  height: 3.6rem;
  margin: 1rem 0.6rem;
  background-color: $light-gray;
}
