.button-wrapper {
	font-family: 'Caveat', cursive;
	color: #000;
	background-color: #f5f3f4;
	font-size: 22px;
	font-style: normal;
	text-decoration: none;
	padding: 11px 15px;
	border: 0px solid #000;
  display: inline-block;
  margin-right: 10px;
}

.button-wrapper:hover{
	background-color: #EAE7E8;
	border-radius: 6px;
}

.button-wrapper:active{
	transform: scale(0.95);
}