@import '../../../styles/colors.scss';

.author {
  text-transform: capitalize;
  font-weight: 600;
  padding: 0 10px;
}

.authorPlaceholder {
  width: 20%;
  height: 2rem;
  margin: 1rem 0.6rem;
  background-color: $light-gray;
}
