@import './../../../styles/colors.scss';

.wrapper {
  display: flex;
  overflow: visible;
  justify-content: center;
  text-align: left;
  gap: 24px;
}

.card {
  display: flex;
  margin-bottom: 2.5rem;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.6rem;
  border-bottom: 1px solid rgba(39, 40, 42, 0.3);
}

.card:hover {
  opacity: 0.7;
}

.image {
  height: 300px;
  max-width: 100%; //for svg
  min-width: 23.5vw; //for png/jpg
  object-fit: none;
  overflow: hidden;
  background-color: rgba(39, 40, 42, 0.3);
}

@media (max-width: 1024px) {
  .img {
    max-height: 180px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1.5rem;
}

.title {
  font-weight: 700;
  font-family: 'DM Sans', sans-serif;
  color: #27282a;
  font-size: 16px;
  letter-spacing: -0.03px;
  margin-bottom: 1.5rem;
  height: 1.2em;
  width: 16rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.description {
  height: 50px; /* 56px */
  overflow: hidden;
  color: #27282ab3;
  font-size: 12px;
  letter-spacing: -0.03px;
  word-break: break-word;
}
