@import './../../../styles/colors.scss';

.image {
  float: left;
  margin: 0 2rem 2rem 0;
  width: 100%;
  max-width: 40%;
  height: calc(400px - 2rem);
  object-fit: contain;
  background-color: $light-gray2;
  box-shadow: 8px 8px 17px -8px $gray;
}

.preview {
  height: 300px;
  max-width: 45%;
  margin: 0 1.5rem 1.5rem 0;
}

.imagePlaceholder {
  float: left;
  margin: 0 2rem 2rem 0;
  width: 40%;
  height: calc(400px - 2rem);
  background-color: $light-gray2;
  box-shadow: 8px 8px 17px -8px $gray;
}

.edit {
  height: 300px;
  max-width: 45%;
  margin-top: 2rem;
}
