@import './../../../styles/colors.scss';

.wrapper {
  background-color: $background;
  text-decoration: none;
  border: 0px solid $black;
  display: inline-block;
  font-weight: 700;
  font-family: 'DM Sans', sans-serif;
  color: #27282a;
  font-size: 16px;
  text-align: left;
  margin-right: 1rem;
  letter-spacing: -0.03em;
  cursor: pointer;
}

.wrapper:hover {
  color: $dark-red;
}

.wrapper:active {
  color: black;
  transform: scale(0.95);
}
