@import '../../../styles/colors.scss';

.dash {
  border-bottom: 1px solid rgba(39, 40, 42, 0.3);
  padding-bottom: 2rem;
}

.description {
  font-size: 16px;
  text-align: justify;
  margin-bottom: 5rem;
  min-height: 200px;
  word-wrap: break-word;
}

.descriptionTitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.descriptionArea {
  color: rgba(39, 40, 42);
  text-indent: 1rem;
  white-space: pre-wrap;
}

.descriptionTitlePlaceholder {
  float: left;
  width: 20%;
  height: 2rem;
  margin: 0 0 1rem;
  background-color: $light-gray;
}

.descriptionAreaPlaceholder {
  float: left;
  width: 55%;
  height: calc(400px - 6rem);
  margin: 1rem 0;
  background-color: $light-gray;
}

ul {
  list-style-position: inside;
  text-indent: 1rem;
}
