.navigation-wrapper {
    margin: 0 200px;
    min-height: 10vh;

}

@media (max-width: 1024px) {
	.navigation-wrapper {
	  margin: 0 100px;
	} 
  }

.logo {
    display: inline-block;
}

.logo img {
    float: left;
    margin: 10px 0;
    width: 70px;
    height: 70px;
}

.logo div {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    float: left;
    margin: 30px 10px 0;
}


.buttons {
    float: right;
    margin: 20px 0 0 20px;
}