@import '../../styles/colors.scss';

.wrapper {
  padding: 1.5rem 200px;
  background-color: white;
  border-bottom: 1px solid rgba(39, 40, 42, 0.3);
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 1.5rem 100px;
  }
}

.logo {
  display: inline-block;
}

.logo:hover {
  color: $dark-red;
}

.logo:active {
  transform: scale(0.95);
}

.logoImage {
  float: left;
  width: 40px;
  height: 40px;
}

.logoTitle {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 900;
  float: left;
  position: relative;
  top: 7px;
  left: 10px;
}

.buttons {
  float: right;
}

.message {
  color: #27695d;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #cceade;
  text-align: center;
  padding: 2rem 0;
  border: 1px solid #bae1d0;

  .link {
    color: inherit;
    text-decoration: underline;
  }

  .link:hover {
    color: rgba(140, 181, 164, 0.608);
  }

  .icon {
    width: 14px;
    height: 14px;
    fill: rgb(255, 255, 255);
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }
}
