@import '../../styles/colors.scss';

.wrapper {
  padding: 1.5rem 200px;
  background-color: white;
  border-bottom: 1px solid rgba(39, 40, 42, 0.3);
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 1.5rem 100px;
  }
}

.logo {
  display: inline-block;
}

.logo:hover {
  color: $dark-red;
}

.logo:active {
  transform: scale(0.95);
}

.logoImage {
  float: left;
  width: 40px;
  height: 40px;
}

.logoTitle {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 900;
  float: left;
  position: relative;
  top: 7px;
  left: 10px;
}

.buttons {
  float: right;
}
