@import './../../styles/colors.scss';

.wrapper {
  margin: 0 200px;
}

.title {
  position: relative;
}

.recipeTitle {
  font-family: 'Caveat', cursive;
  color: $light-red;
  font-size: 50px;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  margin: 0;
}

.ingredients {
  font-size: 16px;
  margin: 20px 0;
  text-align: left;
}

.bg {
  width: 110%;
  margin: 0 -25px;
  height: fit-content;
  mask-image: linear-gradient($white, transparent);
}

.description {
  font-size: 14px;
  text-align: justify;
  margin-bottom: 50px;
}

img {
  width: 400px;
  height: 400px;
  float: right;
}

.mainContent {
  display: inline-block;
  margin-bottom: 200px;
}

.categories {
  width: 35%;
  float: left;

  @media only screen and (max-width: 1024px) {
    width: 40%;
  }
}

.mainInfo {
  width: 60%;
  overflow: hidden;
  float: right;
  padding: 0 20px;
  background-color: $white;
  border-radius: 0px 20px 0px 0px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

  @media only screen and (max-width: 1024px) {
    width: 55%;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    margin: 0 100px;
  }

  img {
    width: 360px;
    height: 360px;
    float: right;
  }
}
