@import './../../styles/colors.scss';

.wrapper {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  height: min-content; /* 592px */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 200px;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  align-content: center;
  flex-wrap: nowrap;
  gap: 30px;
  border-radius: 0px 0px 0px 0px;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 100px;
  }
}
