@import './../../../styles/colors.scss';
@import './../Login/login.module.scss';

.message {
  color: #27695d;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #cceade;
  text-align: center;
  padding: 1rem 0;
  border: 1px solid #bae1d0;

  .link {
    color: inherit;
    text-decoration: underline;
  }

  .link:hover {
    color: rgba(140, 181, 164, 0.608);
  }

  .icon {
    width: 14px;
    height: 14px;
    fill: rgb(255, 255, 255);
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }
}
