@import './../../../styles/colors.scss';

.wrapper {
  background-color: $light-red;
  color: $white;
  font-family: Trebuchet MS;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 14px 15px;
  border: 0px solid $black;
  border-radius: 6px;
  display: inline-block;
}

.wrapper:hover {
  background-color: $dark-red;
}

.wrapper:active {
  transform: scale(0.95);
}

.noBackground {
  background-color: $light-gray;
  color: $black;
  margin-right: 20px;
}

.noBackground:hover {
  background-color: $gray;
}
