.color-button-wrapper {
	background-color: #e64a55;
	color: #fff;
	font-family: Trebuchet MS;
	font-size: 18px;
	font-weight: 800;
	font-style: normal;
	text-decoration: none;
	padding: 14px 15px;
	border: 0px solid #000;
	border-radius: 6px;
  display: inline-block;
}

.color-button-wrapper:hover{
	background-color: #c42b50;
}

.color-button-wrapper:active{
	transform: scale(0.95);
}

.color-button-wrapper-2 {
	background-color: #EAE7E8;
	color: #000;
	font-family: Trebuchet MS;
	font-size: 18px;
	font-weight: 800;
	font-style: normal;
	text-decoration: none;
	padding: 14px 15px;
	border: 0px solid #000;
	border-radius: 6px;
  display: inline-block;
  margin-left: 20px;
}

.color-button-wrapper-2:hover:hover{
	background-color: #B2AFB0;
}

.color-button-wrapper-2:active{
	transform: scale(0.95);
}