@import './../../../styles/colors.scss';

.wrapper {
  padding: 100px 0;
  margin: 0 auto;
  width: 30%;
  font-family: 'DM Sans', sans-serif;
}

@media (max-width: 1024px) {
  .wrapper {
    width: 40%;
  }
}

.heading {
  margin-bottom: 1.5rem;
  font-size: 36px;
  letter-spacing: -0.04em;
  line-height: 1.25;
  text-align: center;
}

.formInput {
  display: flex;
  margin-bottom: 1.5rem;
}

.iconWrapper {
  display: flex;
  align-items: center;
  padding: 0.825rem 0.575rem 0.825rem 1rem;
  border: 1px solid rgba(39, 40, 42, 0.3);
  border-radius: 0.625rem 0 0 0.625rem;
  border-right: 0;
}

.iconWrapperRight {
  padding: 0.825rem 1rem 0.825rem 0.575rem;
  border-radius: 0 0.625rem 0.625rem 0;
  border-right: 1px solid rgba(39, 40, 42, 0.3);
  border-left: 0;
}

.icon {
  width: 20px;
  height: 20px;
}

.input {
  width: 100%;
  padding: 0.825rem 1.1875rem;
  font-size: 1.125rem;
  line-height: 1.2;
  border: 1px solid rgba(39, 40, 42, 0.3);
  border-radius: 0 0.625rem 0.625rem 0;
  border-left: 0;
}

input:focus,
:active {
  outline: 0;
}

.input::placeholder {
  color: rgba(39, 40, 42, 0.302);
}

.passwordInput {
  border-radius: 0;
  border-right: 0;
}

.button {
  margin-bottom: 1.5rem;
  padding: 0;
  text-align: center;
}

.info {
  text-align: center;
  color: rgba(39, 40, 42, 0.302);
  letter-spacing: -0.03em;
}

.noAccountInfo {
  margin-bottom: 1.5rem;
}

.link {
  color: $dark-red;
}

.link:hover {
  color: black;
}

.errorMessage {
  color: #9b2056;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fdd4da;
  text-align: center;
  padding: 1.5rem 0;
  box-sizing: border-box;
  border: 1px solid #f9bfcc;

  .icon {
    width: 14px;
    height: 14px;
    fill: rgb(255, 255, 255);
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }
}
