@import './../../../styles/colors.scss';

.war {
  text-align: center;
  font-size: 30px;
  color: $dark-red;
}

.wrapper {
  margin: 50px auto;
  width: 50%;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  border-radius: 6px;
  box-sizing: border-box;
}

.inputs {
  padding: 50px 30px;
}

p {
  margin: 0;
}

input {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
}

.button {
  text-align: center;
  padding-bottom: 30px;
  // display: inline-block;
  // margin: auto;
}

.login {
  text-align: center;
  font-size: 30px;
  color: $dark-red;
}

.logoImage {
  float: left;
  margin: 10px 0;
  width: 70px;
  height: 70px;
}

.logoTitle {
  font-family: 'Caveat', cursive;
  font-size: 30px;
  float: left;
  margin: 30px 10px 0;
}

.logoInput {
  display: block;
  align-items: center;
  padding: 30px;
  margin-bottom: 30px;
}

.imageInput {
  mask-image: linear-gradient($white, transparent);
  padding: 10px 0;
}

.backIcon {
  position: absolute;
  margin: 0 10px;
  float: left;
  width: 40px;
  height: 40px;
  transform: rotateX(180deg);
  cursor: pointer;
}
