@import './../../../styles/colors.scss';

.wrapper {
  width: auto;
  height: 100%;
  display: flex;
  margin: 0 100px;
  letter-spacing: -0.03em;
}

.form {
  padding: 2.5rem 0;
  width: 40%;
}

.link {
  width: fit-content;
  font-size: 18px;
  color: black;
  margin: 0;
  letter-spacing: -0.03em;
  line-height: 1.25;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

.link:hover {
  color: $dark-red;
}

.heading {
  font-family: 'DM Sans', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
  margin: 0 0 1rem;
  letter-spacing: -0.04em;
}

.paragraph {
  font-size: 1rem;
  color: #27282ab3;
  margin: 0 0 2rem;
}

.inputs,
h5 {
  color: inherit;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.03em;
  margin: 0 0 0.5rem;
  font-family: 'DM Sans', sans-serif;
}

.placeholder {
  max-width: -webkit-fill-available;
  width: 100%;
  padding: 0.825rem 1.1175rem;
  font-size: 1.125rem;
  line-height: 1.2;
  border: 1px solid rgba(39, 40, 42, 0.3);
  border-radius: 0.625rem;
  margin-bottom: 2rem;
  font-family: 'DM Sans', sans-serif;
}

.placeholder:focus {
  border: 1px solid rgba(39, 40, 42, 0.3);
  outline: none;
}

.checkbox h5 {
  display: inline;
  margin-right: 0.5rem;
}

.checkbox {
  margin: 0 0 0.5rem;
}

.editImage {
  margin: 0 0 2rem;
}

.editImage input[type='file'] {
  font-size: 16px;
  background-color: $light-gray;
  border-radius: 10px;
  margin: 10px 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Caveat';
}

.editImage input[type='file']::file-selector-button {
  padding: 0.6rem 1rem;
  background-color: #b33737;
  border: none;
  margin-right: 1rem;
  border-radius: 0.625rem;
  width: auto; /* 96px */
  height: auto; /* 16px */
  font-weight: 300;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1;
  cursor: pointer;
}

.editImage input[type='file']::file-selector-button:hover {
  background-color: #982f2f;
}

.editImage input[type='file']::file-selector-button:active {
  transform: scale(0.95);
  background-color: black;
}

.select {
  display: inline-block;
  margin-bottom: 2rem;
  width: 100%;
}

.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 0.825rem 1.1175rem;
  outline: 0;
  border: 0;
  border-radius: 0.625rem;
  background: $light-gray;
  overflow: hidden;
  color: #000000;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select select:hover {
  background: $light-gray;
}

.button {
  text-align: right;
  padding-bottom: 30px;
}

.preview {
  position: fixed;
  width: 50%;
  height: 100%;
  right: 2rem;
  float: right;
  border: 1px solid $light-gray;
}

.image {
  width: 100%;
  height: 150px;
  object-fit: none;
  margin-bottom: -1rem;
  background-color: $light-gray;
}

.recipeTitle {
  font-family: 'Caveat', cursive;
  font-family: 'DM Sans', sans-serif;
  color: $light-red;
  color: #27282a;
  font-size: 50px;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.1;
  font-style: normal;
  text-decoration: none;
  padding: 0 10px;
  box-sizing: border-box;
  cursor: pointer;
  width: calc(100% - 3rem);
  margin: 3rem 1.5rem 0;
}

.recipeTitle:hover {
  background-color: $light-gray;
  border-radius: 5px;
}

.dash {
  border-bottom: 1px solid rgba(39, 40, 42, 0.3);
  padding-bottom: 1rem;
  margin: 0 1rem;
}

.description {
  box-sizing: content-box;
  font-size: 16px;
  text-align: justify;
  margin: 1rem 1.5rem 0;
}

.descriptionTitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1rem;
  padding-left: 10px;
}

.descriptionArea {
  color: rgba(39, 40, 42);
  cursor: pointer;
  padding: 10px;
  width: calc(100% - 1rem);
  font-size: 16px;
  overflow-y: auto;
  text-align: justify;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Caveat';
  white-space: pre-wrap;
}
