.search-wrapper {
    box-sizing: border-box;
    margin: 20px 200px;
}

@media (max-width: 1024px) {
	.search-wrapper {
	  margin: 20px 100px;
	} 
  }

.search-wrapper input {
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
	color: #000;
	font-family: Trebuchet MS;
	font-size: 18px;
	font-style: normal;
	text-decoration: none;
	padding: 14px 15px;
	border: 0px;
	border-radius: 6px;
    display: inline-block;
}

.search-wrapper input:focus {
	border: 0px;
	outline: none;
}


.search-wrapper input::placeholder {
	color: #adb5bd;
}
